 <template>
    <div class="row">
        <div class="col-sm-3">
                <form method="POST"  v-on:submit.prevent="filterUser">
                   
                        <div class="form-group">
                            <label for="name">Gender:</label>
                             <select class="form-control" v-model="filterForm.gender" @change="filterUser()">
                                <option value="">Select Gender</option>
                                <option v-for="(gen, index) in genders" :key="index" :value="gen.id"> {{gen.name}}</option>    
                            </select>
                          
                        </div>

                        <div class="form-group">
                            <label for="name">Family type:</label>
                             <select class="form-control" v-model="filterForm.family_type" @change="filterUser()">
                                <option value="">Select Family Type</option>
                                <option v-for="(fam, index) in familys" :key="index" :value="fam.id"> {{fam.name}}</option>    
                            </select>
                           
                        </div>

                        <div class="form-group">
                            <label for="name">Manglik:</label>
                             <select class="form-control" v-model="filterForm.manglik" @change="filterUser()">
                                <option value="">Select Manglik Type</option>
                                <option v-for="(mang, index) in mangliks" :key="index" :value="mang.id"> {{mang.name}}</option>    
                            </select>
                           
                        </div>

                        <div class="form-group">
                            <label for="name">Occupation:</label>
                             <select class="form-control" v-model="filterForm.occupation" @change="filterUser()">
                                <option value="">Select Occupation Type</option>
                                <option v-for="(occupation, index) in occupations" :key="index" :value="occupation.id"> {{occupation.name}}</option>    
                            </select>
                           
                        </div>

                        
                
                </form>
        </div>
        <div class="col-sm-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email </th>
                        <th>Gender</th>
                        <th>Annual income</th>
                        <th>Occupation</th>
                        <th>Family type</th>
                        <th>Manglik</th>
                    </tr>
                </thead>
                <tbody>
                     <tr v-if="!users.length">
                        <th colspan="7" class="text-center"><strong><i>Sorry, No users are found</i></strong></th>
                    </tr>
                    <tr v-else v-for="(user, index) in users" :key="index">
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{genderArr[user.gender]}}</td>
                        <td>{{user.annual_income}}</td>
                        <td>{{occupationArr[user.occupation]}}</td>
                        <td>{{familyTypeArr[user.family_type]}}</td>
                        <td>{{manglikArr[user.manglik]}}</td>
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
</template>

<script>
    export default {
        name: 'userList',  
        data() {
            return {
                genderArr:{
                    "1":"Male",
                    "2":"Female"
                },
                occupationArr:{
                    "1":"Private job",
                    "2":"Government Job",
                    "3":"Business"
                },
                familyTypeArr:{
                    "1":"Joint family",
                    "2":"Nuclear family"
                },
                manglikArr:{
                    "1":"Yes",
                    "2":"No"
                },
                 filterForm:{
                    'gender':'',
                    'family_type':'',
                    'manglik':'',
                    'occupation':''
                },
                genders:[
                    {
                        "id":"1","name":"Male"
                    },
                    {
                        "id":"2","name":"Female"
                    }
                ],
                familys:[
                    {
                        "id":"1","name":"Joint family"
                    },
                    {
                        "id":"2","name":"Nuclear family"
                    }
                ],
                mangliks:[
                    {
                        "id":"1","name":"Yes"
                    },
                    {
                        "id":"2","name":"No"
                    }
                ], 
                occupations:[
                    {
                        "id":"1","name":"Private job"
                    },
                    {
                        "id":"2","name":"Government Job"
                    }, 
                    {
                        "id":"3","name":"Business"
                    }
                ],
                users:[]
            }
        },
        mounted() {
            this.filterUser();
        },
        methods: {
        filterUser: function() {
            var self = this;
            var formData = new FormData();
            for ( var key in self.filterForm ) {
                formData.append(key, self.filterForm[key]);
            }
           
            axios.post('admin/getUser', formData).then(response => {
                if ($.isEmptyObject(response.data.error)) {
                    self.users = response.data.userList;

                } else {
                    console.log('method else')
                }
            }).catch(error => {
                self.formErrors = error.response.data.errors;
            })
        }
    }
}
</script>
